<footer>
    <ul id="footer-left">
        <li><img id="footer-logo" src="/resources/images/logo.png" /></li>
        <li>{{ site.time | date: '%Y' }} BlueSalt Labs</li>
    </ul>
    <ul id="footer-right">
        <li><a href="mailto:luke@bluesaltlabs.com" title="Email luke@bluesaltlabs.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        <li><a href="https://codepen.io/bluesaltlabs/" target="_blank" title="View BlueSalt Labs on CodePen"><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/bluesalt-labs/" target="_blank" title="View BlueSalt Labs on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <!--<li><a href="https://github.com/lukerz8/" target="_blank" title="View lukerz8 on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a></li>-->
    </ul>
    <div style="clear:both;"></div>
</footer>